/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libcurvecpr/libcurvecpr.pc
/libcurvecpr-glib/libcurvecpr-glib.pc
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/stamp-h1
/test-driver

.deps/
.dirstamp
.libs/
Makefile
Makefile.in
*~
*.Plo
*.la
*.lai
*.lo
*.o
